In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Day17_sample.txt",header=None)
df

                0
0   2413432311323
1   3215453535623
2   3255245654254
3   3446585845452
4   4546657867536
5   1438598798454
6   4457876987766
7   3637877979653
8   4654967986887
9   4564679986453
10  1224686865563
11  2546548887735
12  4322674655533

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       13 non-null     int64
dtypes: int64(1)
memory usage: 232.0 bytes

In [4]:
df[0] = df[0].apply(lambda x : list(str(x)))
df

                                          0
0   [2, 4, 1, 3, 4, 3, 2, 3, 1, 1, 3, 2, 3]
1   [3, 2, 1, 5, 4, 5, 3, 5, 3, 5, 6, 2, 3]
2   [3, 2, 5, 5, 2, 4, 5, 6, 5, 4, 2, 5, 4]
3   [3, 4, 4, 6, 5, 8, 5, 8, 4, 5, 4, 5, 2]
4   [4, 5, 4, 6, 6, 5, 7, 8, 6, 7, 5, 3, 6]
5   [1, 4, 3, 8, 5, 9, 8, 7, 9, 8, 4, 5, 4]
6   [4, 4, 5, 7, 8, 7, 6, 9, 8, 7, 7, 6, 6]
7   [3, 6, 3, 7, 8, 7, 7, 9, 7, 9, 6, 5, 3]
8   [4, 6, 5, 4, 9, 6, 7, 9, 8, 6, 8, 8, 7]
9   [4, 5, 6, 4, 6, 7, 9, 9, 8, 6, 4, 5, 3]
10  [1, 2, 2, 4, 6, 8, 6, 8, 6, 5, 5, 6, 3]
11  [2, 5, 4, 6, 5, 4, 8, 8, 8, 7, 7, 3, 5]
12  [4, 3, 2, 2, 6, 7, 4, 6, 5, 5, 5, 3, 3]

In [5]:
df_inter = pd.DataFrame()
for i in range(len(df.at[0,0])):
    df_inter[i] = list(map(lambda x : x[i], df[0]))
df = df_inter
df

   0  1  2  3  4  5  6  7  8  9  10 11 12
0   2  4  1  3  4  3  2  3  1  1  3  2  3
1   3  2  1  5  4  5  3  5  3  5  6  2  3
2   3  2  5  5  2  4  5  6  5  4  2  5  4
3   3  4  4  6  5  8  5  8  4  5  4  5  2
4   4  5  4  6  6  5  7  8  6  7  5  3  6
5   1  4  3  8  5  9  8  7  9  8  4  5  4
6   4  4  5  7  8  7  6  9  8  7  7  6  6
7   3  6  3  7  8  7  7  9  7  9  6  5  3
8   4  6  5  4  9  6  7  9  8  6  8  8  7
9   4  5  6  4  6  7  9  9  8  6  4  5  3
10  1  2  2  4  6  8  6  8  6  5  5  6  3
11  2  5  4  6  5  4  8  8  8  7  7  3  5
12  4  3  2  2  6  7  4  6  5  5  5  3  3

In [6]:
#padding pour éviter les effets de bord df.ilc[-1,2] renvoie le dernier élément de la ligne !!!
df['A'] = 1000
df = df.T.copy()
df['B'] = 1000
df = df[::-1].T.copy()
df['C'] = 1000
df = df[::-1].T.copy()
df['D'] = 1000
df = df[::-1].T[::-1].copy()

In [7]:
df = df.applymap(lambda x : int(x))
df

,C,0,1,2,3,4,5,6,7,8,9,10,11,12,A
D,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
0,1000,2,4,1,3,4,3,2,3,1,1,3,2,3,1000
1,1000,3,2,1,5,4,5,3,5,3,5,6,2,3,1000
2,1000,3,2,5,5,2,4,5,6,5,4,2,5,4,1000
3,1000,3,4,4,6,5,8,5,8,4,5,4,5,2,1000
4,1000,4,5,4,6,6,5,7,8,6,7,5,3,6,1000
5,1000,1,4,3,8,5,9,8,7,9,8,4,5,4,1000
6,1000,4,4,5,7,8,7,6,9,8,7,7,6,6,1000
7,1000,3,6,3,7,8,7,7,9,7,9,6,5,3,1000
8,1000,4,6,5,4,9,6,7,9,8,6,8,8,7,1000
9,1000,4,5,6,4,6,7,9,9,8,6,4,5,3,1000
10,1000,1,2,2,4,6,8,6,8,6,5,5,6,3,1000
11,1000,2,5,4,6,5,4,8,8,8,7,7,3,5,1000
12,1000,4,3,2,2,6,7,4,6,5,5,5,3,3,1000
B,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, D to B
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   C       15 non-null     int64
 1   0       15 non-null     int64
 2   1       15 non-null     int64
 3   2       15 non-null     int64
 4   3       15 non-null     int64
 5   4       15 non-null     int64
 6   5       15 non-null     int64
 7   6       15 non-null     int64
 8   7       15 non-null     int64
 9   8       15 non-null     int64
 10  9       15 non-null     int64
 11  10      15 non-null     int64
 12  11      15 non-null     int64
 13  12      15 non-null     int64
 14  A       15 non-null     int64
dtypes: int64(15)
memory usage: 1.9+ KB

In [9]:
node_df = df.copy()
k = 0
for idx in range(df.shape[0]):
    for col in range(df.shape[1]):
        node_df.iloc[idx, col] = k
        k += 1

In [10]:
node_df

      C    0    1    2    3    4    5    6    7    8    9   10   11   12    A
D     0    1    2    3    4    5    6    7    8    9   10   11   12   13   14
0    15   16   17   18   19   20   21   22   23   24   25   26   27   28   29
1    30   31   32   33   34   35   36   37   38   39   40   41   42   43   44
2    45   46   47   48   49   50   51   52   53   54   55   56   57   58   59
3    60   61   62   63   64   65   66   67   68   69   70   71   72   73   74
4    75   76   77   78   79   80   81   82   83   84   85   86   87   88   89
5    90   91   92   93   94   95   96   97   98   99  100  101  102  103  104
6   105  106  107  108  109  110  111  112  113  114  115  116  117  118  119
7   120  121  122  123  124  125  126  127  128  129  130  131  132  133  134
8   135  136  137  138  139  140  141  142  143  144  145  146  147  148  149
9   150  151  152  153  154  155  156  157  158  159  160  161  162  163  164
10  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179
11  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194
12  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209
B   210  211  212  213  214  215  216  217  218  219  220  221  222  223  224

In [11]:
import dijkstra

graph = dijkstra.Graph()
for idx in range(df.shape[0]):
    for col in range(df.shape[1]):
        try:
            graph.add_edge(node_df.iloc[idx,col], node_df.iloc[idx,col+1], df.iloc[idx,col])
            #print(node_df.iloc[idx,col], node_df.iloc[idx,col+1], df.iloc[idx,col])
            graph.add_edge(node_df.iloc[idx,col], node_df.iloc[idx,col-1], df.iloc[idx,col])
            #print(node_df.iloc[idx,col], node_df.iloc[idx,col-1], df.iloc[idx,col])
            graph.add_edge(node_df.iloc[idx,col], node_df.iloc[idx+1,col], df.iloc[idx,col])
            #print(node_df.iloc[idx,col], node_df.iloc[idx+1,col], df.iloc[idx,col])
            graph.add_edge(node_df.iloc[idx,col], node_df.iloc[idx-1,col], df.iloc[idx,col])
            #print(node_df.iloc[idx,col], node_df.iloc[idx-1,col], df.iloc[idx,col])
        except:
            continue

dijkstra = dijkstra.DijkstraSPF(graph, node_df.iloc[1,1])

In [12]:
print("%-5s %-5s" % ("label", "distance"))
nodes = range(0,node_df.iloc[-1,-1])
for u in nodes:
    print("%-5s %8d" % (u, dijkstra.get_distance(u)))

label distance
0         1002
1            2
2            6
3            7
4           10
5           14
6           17
7           19
8           22
9           23
10          24
11          27
12          29
13          32
14        1032
15           2
16           0
17           2
18           6
19           7
20          10
21          14
22          17
23          19
24          22
25          23
26          24
27          27
28          29
29          32
30           5
31           2
32           5
33           7
34           8
35          13
36          17
37          19
38          22
39          23
40          24
41          27
42          29
43          31
44          34
45           8
46           5
47           7
48           8
49          13
50          17
51          19
52          22
53          27
54          26
55          29
56          33
57          31
58          34
59          38
60          11
61           8
62           9
63          13
64          17
65          19
66          23
67          27
68          32
69          31
70          33
71          35
72          36
73          38
74          40
75          15
76          11
77          13
78          17
79          21
80          24
81          30
82          32
83          39
84          35
85          38
86          39
87          41
88          40
89          46
90          16
91          15
92          16
93          20
94          23
95          30
96          35
97          39
98          47
99          41
100         45
101         44
102         44
103         46
104         50
105         20
106         16
107         20
108         23
109         28
110         35
111         43
112         47
113         53
114         50
115         53
116         48
117         49
118         50
119         56
120         23
121         20
122         23
123         28
124         31
125         38
126         46
127         53
128         60
129         58
130         60
131         55
132         55
133         56
134         59
135         27
136         23
137         27
138         31
139         36
140         40
141         49
142         55
143         62
144         65
145         69
146         61
147         60
148         59
149         66
150         31
151         27
152         31
153         36
154         40
155         44
156         50
157         57
158         66
159         73
160         73
161         69
162         68
163         66
164         69
165         32
166         31
167         32
168         34
169         36
170         40
171         46
172         54
173         60
174         68
175         74
176         73
177         72
178         69
179         72
180         34
181         32
182         34
183         36
184         40
185         46
186         51
187         55
188         63
189         71
190         77
191         78
192         77
193         72
194         77
195         38
196         34
197         38
198         40
199         42
200         44
201         50
202         57
203         61
204         67
205         72
206         77
207         80
208         77
209         80
210       1038
211         38
212         41
213         42
214         44
215         50
216         57
217         61
218         67
219         72
220         77
221         82
222         83
223         80

In [13]:
print(dijkstra.get_distance(node_df.iloc[-2,-2]))

77

In [17]:
print(dijkstra.get_path(node_df.iloc[-2,-2]))

[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 42, 43, 58, 73, 88, 103, 118, 133, 148, 163, 178, 193, 208]

In [15]:
df

,C,0,1,2,3,4,5,6,7,8,9,10,11,12,A
D,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
0,1000,2,4,1,3,4,3,2,3,1,1,3,2,3,1000
1,1000,3,2,1,5,4,5,3,5,3,5,6,2,3,1000
2,1000,3,2,5,5,2,4,5,6,5,4,2,5,4,1000
3,1000,3,4,4,6,5,8,5,8,4,5,4,5,2,1000
4,1000,4,5,4,6,6,5,7,8,6,7,5,3,6,1000
5,1000,1,4,3,8,5,9,8,7,9,8,4,5,4,1000
6,1000,4,4,5,7,8,7,6,9,8,7,7,6,6,1000
7,1000,3,6,3,7,8,7,7,9,7,9,6,5,3,1000
8,1000,4,6,5,4,9,6,7,9,8,6,8,8,7,1000
9,1000,4,5,6,4,6,7,9,9,8,6,4,5,3,1000
10,1000,1,2,2,4,6,8,6,8,6,5,5,6,3,1000
11,1000,2,5,4,6,5,4,8,8,8,7,7,3,5,1000
12,1000,4,3,2,2,6,7,4,6,5,5,5,3,3,1000
B,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000

In [16]:
node_df

      C    0    1    2    3    4    5    6    7    8    9   10   11   12    A
D     0    1    2    3    4    5    6    7    8    9   10   11   12   13   14
0    15   16   17   18   19   20   21   22   23   24   25   26   27   28   29
1    30   31   32   33   34   35   36   37   38   39   40   41   42   43   44
2    45   46   47   48   49   50   51   52   53   54   55   56   57   58   59
3    60   61   62   63   64   65   66   67   68   69   70   71   72   73   74
4    75   76   77   78   79   80   81   82   83   84   85   86   87   88   89
5    90   91   92   93   94   95   96   97   98   99  100  101  102  103  104
6   105  106  107  108  109  110  111  112  113  114  115  116  117  118  119
7   120  121  122  123  124  125  126  127  128  129  130  131  132  133  134
8   135  136  137  138  139  140  141  142  143  144  145  146  147  148  149
9   150  151  152  153  154  155  156  157  158  159  160  161  162  163  164
10  165  166  167  168  169  170  171  172  173  174  175  176  177  178  179
11  180  181  182  183  184  185  186  187  188  189  190  191  192  193  194
12  195  196  197  198  199  200  201  202  203  204  205  206  207  208  209
B   210  211  212  213  214  215  216  217  218  219  220  221  222  223  224